@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 100px;
	padding-right: 100px;
}

.ant-btn-primary {
	background-color: #07789c; // Customize the primary button color here
	border-color: #07789c;
	box-shadow: none;
}

// .ant-switch-inner {
// 	.ant-switch-inner-unchecked {
// 		background: red;
// 	}
// }

.ant-switch {
	background-color: #bdd3c8; /* Change to your desired background color */
}

.ant-switch-checked {
	background-color: #07789c; /* Change to your desired background color when checked */
}
