@tailwind base;
@tailwind components;
@tailwind utilities;

.content-container {
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 100px;
	padding-right: 100px;
}

.ant-btn-primary {
	background-color: #075985; // Customize the primary button color here
	border-color: #075985;
	box-shadow: none;
}

// .ant-switch-inner {
// 	.ant-switch-inner-unchecked {
// 		background: red;
// 	}
// }
